

/*
position:
static
relative
absolute
fixed sticky
z-index
*/

.item{
    width: 200px;
    height: 200px;
    background: rgb(96, 96, 225);
    margin: 40px 0px 0px 40px;
    /* position: relative;
    top: 20px; */
    
}

.item>div{
    width: 200px;
    height: 200px;
    background: rgb(21, 21, 67);
    margin: 40px 0px 0px 0px;
    position: relative;
    right: 40px;
    bottom: 30px;
    
}


.item2{
    width: 200px;
    height: 200px;
    background: rgb(10, 10, 29);
    margin: 40px 0px 0px 40px;
     position: relative;
    /* top: 20px; */

    
}

.item2>div{
    width: 50px;
    height: 50px;
    background: rgb(245, 6, 6);
    /* Position absolute */
    position: absolute;
    top: 20px;
}

.item3{
    width: 200px;
    height: 200px;
    background: rgb(161, 232, 7);
    margin: 50px 10px;
    position: fixed;
    top: 100px;

}

.item4{
    width: 200px;
    height: 200px;
    background: rgb(225, 9, 167);
    margin: 50px 10px;
    position: sticky;
    top: 100px;

}





