*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: aquamarine;
    
}

.container > h1{
    text-align: center;
    padding: 10px;
    background-color: rgb(110, 155, 140);
}

.container > img{
    border: 5px solid;
    padding: 10px;
    margin: 10px;
    float: left;
    
}

.container > p{
    text-align: justify;
}